---
title: "Latest Laracasts"
preheader: "👀 Check out the latest episodes on Laracasts"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-200 sm:px-4">
          <table class="w-[600px] sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://laracasts.com">
                  <img src="images/laracasts-logo.png" width="157" alt="{{ page.feed.title }}">
                </a>
                <p class="m-0 mt-2 text-sm fonts-medium text-gray-600">{{ page.feed.subtitle }}</p>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full">
                  <tr>
                    <td class="w-full sm:w-full sm:inline-block">
                      <table class="w-full">
                        <each loop="post in page.feed.posts">
                          <tr>
                            <td class="p-6 bg-white hover:shadow-xl rounded transition-shadow duration-300">
                              <p class="m-0 mb-1 text-sm text-gray-500">{{ page.formattedDate(post.pubDate) }}</p>
                              <h2 class="m-0 mb-4 text-2xl leading-6">
                                <a href="{{ post.link }}" class="text-gray-800 hover:text-gray-700 [text-decoration:none] transition-colors duration-300">
                                  {{{ post.title }}}
                                </a>
                              </h2>
                              <p class="m-0 text-base">
                                <a href="{{ post.link }}" class="text-gray-500 hover:text-gray-700 [text-decoration:none] transition-colors duration-300">
                                  {{{ post.summary }}}
                                </a>
                              </p>
                            </td>
                          </tr>
                          <if condition="!loop.last">
                            <tr>
                              <td class="h-6"></td>
                            </tr>
                          </if>
                        </each>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="h-12"></td>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 py-4 bg-gray-300 rounded text-left">
                <p class="m-0 text-sm text-gray-500">
                  You are receiving this email because you signed up for updates about the {{ page.feed.title }} feed.
                  You can <a href="https://laracasts.com" class="text-blue-500 [text-decoration:none] hover:[text-decoration:underline]">unsubscribe</a> at any time.
                </p>
              </td>
            </tr>
            <tr>
              <td class="h-12"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
